<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.link.easyai.starter.mapper.TbChatRecordMapper">


    <select id="listChatRecord" resultType="com.link.easyai.starter.domain.vo.TbChatRecordVo">
        select
            record.*
        from
            tb_chat_record record
    </select>

    <select id="listChatRecordGroupTenant" resultType="com.link.easyai.starter.domain.vo.TbChatRecordVo">
        SELECT
            tenant_id,
            create_time
        FROM
            ( SELECT tenant_id, create_time, ROW_NUMBER() OVER ( PARTITION BY tenant_id ORDER BY create_time DESC ) AS rn FROM tb_chat_record ) t
        WHERE
            t.rn = 1
    </select>
</mapper>
